<h1> LIST OF HOUSES </h1>


<div>
  <!-- Filter by name -->
  <div>
    <label for="houseName"> Name: </label>
    <input id="houseName" type="text" [formControl]="houseName" (keydown.enter)="searchFilters()">
    <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="find_in_page" (click)="searchFilters()" ></mat-icon>

  </div>

   <!-- Filter by Slug -->
  <div>
    Filter by Slug
  </div>

  <!-- Filter by members -->
  <div>
    Filter by members
  </div>

  <div> Clear Filters <mat-icon aria-hidden="false" aria-label="Clear Filters" fontIcon="cancel_presentation" (click)="clearFilters()" ></mat-icon> </div>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Members</th>
  </tr>
  <tr *ngFor="let house of houses;" (click)="goToHouseInfo(house)" >
    <td> {{ house.name }} </td>
    <td> {{ house.slug }} </td>
    <td> {{ describeCharacter( house.members ) }}  </td>
  </tr>
</table>
