<h1> LIST OF HOUSES </h1>


<div>
  <!-- Filter by name -->
  <div>
    <label for="houseName"> Name: </label>
    <input id="houseName" type="text" [formControl]="filter.name" (keydown.enter)="searchFilters()">
  </div>

  <!-- Filter by Slug -->
  <div>
    <label for="houseSlug"> Slug: </label>
    <input id="houseSlug" type="text" [formControl]="filter.slug" (keydown.enter)="searchFilters()">
  </div>

  <!-- Filter by members -->
  <div>
    <label for="houseMember"> Member: </label>
    <input id="houseMember" type="text" [formControl]="filter.member" (keydown.enter)="searchFilters()">
  </div>

  <div>
    <button mat-stroked-button  (click)="searchFilters()" >
      Search <mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="find_in_page"  ></mat-icon>
    </button>
    <button mat-stroked-button  (click)="clearFilters()" >
      Clear Filters <mat-icon aria-hidden="false" aria-label="Clear Filters" fontIcon="cancel_presentation" (click)="clearFilters()" ></mat-icon>
    </button>
  </div>
</div>

<table>
  <tr>
    <th>Name</th>
    <th>Slug</th>
    <th>Members</th>
  </tr>
  <tr *ngFor="let house of houses;" (click)="goToHouseInfo(house)" >
    <td> {{ house.name }} </td>
    <td> {{ house.slug }} </td>
    <td> {{ describeCharacter( house.members ) }}  </td>
  </tr>
</table>
