#navbar-menu{
  display: flex;
  height: 5vh;
  background-color: black;
  a{
    font-size: large;
    color: white;
    text-decoration: none;
  }
}

.section-menu{
  margin: auto;
  &:hover{
    background-color: rgb(94, 90, 90);
  }
}
