img{
  border-radius: 3%;
  width: 18vw;
  height: 20vw;
}

#filters{
  display: flex;
  flex-direction: column;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  .row-filters{
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;

    .label-filter{
      padding-right: 1%;
    }

    .input-filter{
      padding-left: 1%;
    }
  }

  #row-action-buttons{

  }
}


#content{
  display: flex;
  flex-wrap: wrap;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;

  .element{
    flex-grow: 1;
    flex-basis: 0;
    padding: 1%;
    text-align: center;

    &:hover{
      background-color: rgb(94, 90, 90);
      cursor: pointer;
    }

  }
}
